<div class="container">
  <h2 class="text-center">All Items</h2>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>
          <a class="btn btn-warning btn-sm" (click)="onSelectEditBtn(item.id)"><i class="far fa-edit"></i> Edit</a>
          <a class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-add-item [items]="items"></app-add-item>
